.btn-group{
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 40px;
}  

.btn-group button{
    border-radius: 10px;
    float: left;
    border: 0px solid rgb(206, 212, 206);
    font-size: 1px;
}

.btn-group button:not(:last-child) {
    border-right: none; 
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  /* Add a background color on hover */
  .btn-group button:nth-child(2):hover {
    background-color: #dfae0d;
  }
  .btn-group button:nth-child(1):hover {
    background-color: #3e8e41;
  }
  .btn-group button:nth-child(3):hover {
    background-color: red;
  }
  .footer {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px
  }
  .form{
    display: flex;
    align-items: center;
  }
  input[type=text] {
      border-radius: 50px;
      width: 50%;
      border: 1px solid grey;
      height: 20px;
      font-family: 'Times New Roman', Times, serif;
     font-size: 12px;
  }
  i{
    font-size: 100px;
  }
  .icons :nth-child(2){
    margin-left: 15px;
  }
  .icons :nth-child(1){
    margin-left: 15px;
  }
  
p{
  text-align: center;
  align-items: center;
}