
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #17095c;
  overflow-x: hidden;
  padding-top: 24px;
}

.sidenav a  {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}
.nonlink{
  font-size: 20px;
  color: #ffffff;
  display: block;
  padding: 6px 8px 6px 16px;
}
.secdiv{
  margin-top: 60px;
}
.thirddiv{
  margin-top: 300px;
}
.forthdiv{
  margin-top: 30px;
  border-top: 1px solid #ffffff;
  padding-top: 22px;
}

.group-list{
  padding: auto;
  font-size: 0.9em;
  color:white;
  /* border: 1px solid grey; */
  list-style: none;
  margin-right:20px;
  /* cursor: pointer; */
}

.group-list:hover{
  background: white;
  color:black;
  border-radius: 0.8em;
  cursor: pointer;
}

.input-box{
  border-radius: 10px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}